/*
https://colorscheme.ru/#0042Bw0w0w0w0 
*/
:root {
  --color-0: 255, 0, 0; /* #ff0000 */
  --color-1: 191, 48, 48; /* #bf3030 */
  --color-2: 166, 0, 0; /* #a60000 */
  --color-3: 255, 64, 64; /* #ff4040 */
  --color-4: 255, 115, 115; /* #ff7373 */
  --color-white: 255, 255, 255; /* #fff */
  --color-grey: 238, 238, 238; /* #eee */
  --color-black: 0, 0, 0, 1; /* #000 */
  --color-a0: 255, 192, 0; /* #ffc000 */
  --color-a1: 191, 156, 48; /* #bf9c30 */
  --color-a2: 166, 125, 0; /* #a67d00 */
  --color-a3: 255, 208, 64; /* #ffd040 */
  --color-a4: 255, 221, 115; /* #ffdd73 */
  --color-b0: 29, 26, 178; /* #1d1ab2 */
  --color-b1: 50, 48, 134; /* #323086 */
  --color-b2: 11, 9, 116; /* #0b0974 */
  --color-b3: 81, 78, 217; /* #514ed9 */
  --color-b4: 117, 115, 217; /* #7573d9 */
  --color-c0: 0, 204, 0; /* #00cc00 */
  --color-c1: 38, 153, 38; /* #269926 */
  --color-c2: 0, 133, 0; /* #008500 */
  --color-c3: 57, 230, 57; /* #39e639 */
  --color-c4: 103, 230, 103; /* #67e667 */
  --a1: 1; /* alpha 1 */
  --a04: 0.4; /* alpha 0.4 */
  --a08: 0.8; /* alpha 0.8 */
}
.color-0 {
  color: rgba(var(--color-0), var(--a1));
}
.bg-color-0 {
  background-color: rgba(var(--color-0), var(--a1));
}
.color-1 {
  color: rgba(var(--color-1), var(--a1));
}
.bg-color-1 {
  background-color: rgba(var(--color-1), var(--a1));
}
.color-2 {
  color: rgba(var(--color-2), var(--a1));
}
.bg-color-2 {
  background-color: rgba(var(--color-2), var(--a1));
}
.color-3 {
  color: rgba(var(--color-3), var(--a1));
}
.bg-color-3 {
  background-color: rgba(var(--color-3), var(--a1));
}
.color-4 {
  color: rgba(var(--color-4), var(--a1));
}
.bg-color-4 {
  background-color: rgba(var(--color-4), var(--a1));
}
.color-white {
  color: rgba(var(--color-white), var(--a1));
}
.bg-color-white {
  background-color: rgba(var(--color-white), var(--a1));
}
.color-grey {
  color: rgba(var(--color-grey), var(--a1));
}
.bg-color-grey {
  background-color: rgba(var(--color-grey), var(--a1));
}
.color-black {
  color: rgba(var(--color-black), var(--a1));
}
.bg-color-black {
  background-color: rgba(var(--color-black), var(--a1));
}
.color-a0 {
  color: rgba(var(--color-a0), var(--a1));
}
.bg-color-a0 {
  background-color: rgba(var(--color-a0), var(--a1));
}
.color-a1 {
  color: rgba(var(--color-a1), var(--a1));
}
.bg-color-a1 {
  background-color: rgba(var(--color-a1), var(--a1));
}
.color-a2 {
  color: rgba(var(--color-a2), var(--a1));
}
.bg-color-a2 {
  background-color: rgba(var(--color-a2), var(--a1));
}
.color-a3 {
  color: rgba(var(--color-a3), var(--a1));
}
.bg-color-a3 {
  background-color: rgba(var(--color-a3), var(--a1));
}
.color-a4 {
  color: rgba(var(--color-a4), var(--a1));
}
.bg-color-a4 {
  background-color: rgba(var(--color-a4), var(--a1));
}
.color-b0 {
  color: rgba(var(--color-b0), var(--a1));
}
.bg-color-b0 {
  background-color: rgba(var(--color-b0), var(--a1));
}
.color-b1 {
  color: rgba(var(--color-b1), var(--a1));
}
.bg-color-b1 {
  background-color: rgba(var(--color-b1), var(--a1));
}
.color-b2 {
  color: rgba(var(--color-b2), var(--a1));
}
.bg-color-b2 {
  background-color: rgba(var(--color-b2), var(--a1));
}
.color-b3 {
  color: rgba(var(--color-b3), var(--a1));
}
.bg-color-b3 {
  background-color: rgba(var(--color-b3), var(--a1));
}
.color-b4 {
  color: rgba(var(--color-b4), var(--a1));
}
.bg-color-b4 {
  background-color: rgba(var(--color-b4), var(--a1));
}
.color-c0 {
  color: rgba(var(--color-c0), var(--a1));
}
.bg-color-c0 {
  background-color: rgba(var(--color-c0), var(--a1));
}
.color-c1 {
  color: rgba(var(--color-c1), var(--a1));
}
.bg-color-c1 {
  background-color: rgba(var(--color-c1), var(--a1));
}
.color-c2 {
  color: rgba(var(--color-c2), var(--a1));
}
.bg-color-c2 {
  background-color: rgba(var(--color-c2), var(--a1));
}
.color-c3 {
  color: rgba(var(--color-c3), var(--a1));
}
.bg-color-c3 {
  background-color: rgba(var(--color-c3), var(--a1));
}
.color-c4 {
  color: rgba(var(--color-c4), var(--a1));
}
.bg-color-c4 {
  background-color: rgba(var(--color-c4), var(--a1));
}
